# Этот конфиг используется для настройки плагина.
# This config is using for configure plugin

database: # Настройки базы данных.
          # Configure database
  user: "root" # USER
  password: "" # PASSWORD
  name: "minecraft" # NAME DATABASE
  host: "localhost" # HOST
  port: 3306 # PORT

blacklist:
  blacklist-of-words: false
  words:
    - "cocksucker:VIOLATION_LEVEL_MILD"
    - "faggot:VIOLATION_LEVEL_MILD"
    - "whore mother:VIOLATION_LEVEL_MILD"
    - "мать шлюха:VIOLATION_LEVEL_MILD"
    - "пидор:VIOLATION_LEVEL_MILD"


settings:
  locale: "ru" # Локализация плагина. Пока-что есть две версии локализации.
               # (Ru/En) Localizing plugin. (Ru/En)
  default-reason: "Административный бан!" # Стандартная причина наказания.
                                          # Default reason punishment.

logs-settings:
  delete-log-element:
    storage-time: "30d" # Максимальное время хранения наказания.
    # Maximum retention time of the punishment.

    # Наказания давностью в 30 дней будут удаляться.
    # Penalties 30 days old will be deleted.
    # Этот параметр обязательный, для экономии памяти сервера, по-этому, отказаться от этого не возможно.
    # This parameter is mandatory to save server memory, so it is not possible to opt out.

warn-settings:
            # После какого количества предупреждений игрок получит наказание.
  count: 3  # After which number of warnings a player will receive a penalty.
  penalty-type: "BAN" # Тип наказания, при достижении 3-х предупреждений.
                      # Type of punishment, when reaching 3 warnings.